*{
  box-sizing: border-box;
  margin:0;
}

.parent{
  height: 100vh;
  position: relative;
}
.wrapper{
  width: 400px;
  height: 400px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.child{
  width: 400px;
  height: 400px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: aqua;
  background-image:url('http://p4.music.126.net/fMM2iXZJ0PJU7xoL3DRKkg==/109951162863339303.jpg?param=400y400');
  transition: all .3s;
}
.text {
  position: relative;
  width: 152px;
  font-size: 20px;
  opacity: 0;
  top:-50%;
  left: 50%;
  text-align: center;
  background: linear-gradient(to left,red,gold,steelblue,aqua,red);
  -webkit-background-clip:text;
  background-clip:text;
  -webkit-text-fill-color:transparent;
  transform: translateY(-50%) translateX(-50%);
  
}
.wrapper:hover .text{
  animation: anima 2s linear infinite;
}
@keyframes anima{
  to{
    background-position: -152px 0;
  }
}
.wrapper:hover .child{
  cursor: pointer;
  opacity: .6;
  filter : blur(2px) 
}
.wrapper:hover .text{
  opacity: 1;
}
.top,.left,.bottom,.right{
  position: absolute;
  transition: all .3s;
  background: #c93756;
}
.top {
  left: 20px;
  top: 20px;
  width: 360px;
  height: 4px;
  transform: scale(0,1);
  background: #c93756;
}
.bottom {
  left: 20px;
  bottom: 20px;
  width: 360px;
  height: 4px;
  transform: scale(0,1);
}
.left{
  left: 20px;
  width: 4px;
  top: 20px;
  height: 360px;
  transform: scale(1,0);
}
.right{
  right: 20px;
  width: 4px;
  top: 20px;
  height: 360px;
  transform: scale(1,0);
}
.wrapper:hover .scale{
  transform: scale(1,1);
}
